# Byte-compiled / optimized / DLL files
__pycache__/

web/constants.js



test/e2e/cypress/screenshots
test/e2e/cypress/videos

*.spec.js.mp4

__pycache__
.pytest_cache

sonar/
.scannerwork/

jmeter.log

# Visual Studio
.vs